<footer class="footer">
  <div class="divflex">
    <section class="footer-section">
      <section>
        <h2>Arena Fitness</h2>
        <address class="address">
          <li>Ul. Goce Delcev bb</li>
          <li>7500, Prilep</li>
          <li>arenafitness&#64;gmail.com</li>
        </address>
        <span class="social-links">
          <h3>Follow Us</h3>
          <div>
            <a href="https://www.facebook.com/" target="_blank">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </div>
          <div>
            <a href="https://www.instagram.com/" target="_blank">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </div>
          <div>
            <a href="https://www.linkedin.com/" target="_blank">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </span>
      </section>
      <section class="infoone">
        <menu>
          <h3>Support</h3>
          <li>
            <a routerLink="/contact">Contact</a>
          </li>
          <li>
            <a>Help Center</a>
          </li>
          <li>
            <a>Professional Services</a>
          </li>
        </menu>
      </section>
      <section class="infotwoo">
        <menu>
          <h3>Company</h3>
          <li>
            <a routerLink="/about">About Us</a>
          </li>
          <li>
            <a>Careers</a>
          </li>
          <li>
            <a>Resources</a>
          </li>
        </menu>
      </section>
    </section>
  </div>
  <section class="infothree">
    <li>
      <a> Terms of use</a>
    </li>
    <li>
      <a> Privacy Notice</a>
    </li>
    <li>
      <a> Cookie Policy</a>
    </li>
    <li>
      <a>FAQ</a>
    </li>
  </section>
  <section class="footer-botom">
    Copyright &copy; 2024 - All Rights Reserved - Arena Fitness
  </section>
</footer>
