<section class="client-membership-page">
  <div class="membership-heading-container">
    <h2>All users</h2>
  </div>
  <div class="memberships-container">
    <div class="container">
      <div class="filter-memberships-container">
        <div class="search-form">
          <div class="search-wrapper">
            <i class="fas fa-search search-icon"></i>
            <input
              type="text"
              class="search-input"
              placeholder="Search users..."
              [(ngModel)]="searchValue"
            />
          </div>
        </div>
        <div>
          <app-button text="Add user" (btnClick)="onAddUser()" />
        </div>
      </div>
      <div class="table">
        <div class="table-header">
          <div class="header__item">
            <a id="name" class="filter__link">No.</a>
          </div>
          <div class="header__item">
            <a id="wins" class="filter__link filter__link--number"
              >First name</a
            >
          </div>
          <div class="header__item">
            <a id="draws" class="filter__link filter__link--number"
              >Last name</a
            >
          </div>
          <div class="header__item">
            <a id="losses" class="filter__link filter__link--number"
              >Username</a
            >
          </div>
          <div class="header__item">
            <a id="total" class="filter__link filter__link--number">Email</a>
          </div>
        </div>
        <div class="table-content">
          @for(user of users() | search: searchValue(); track $index){
          <div class="table-row" (click)="onUserRowClick(user.id)">
            <div class="table-data">{{ $index }}</div>
            <div class="table-data">
              {{ user.firstName }}
            </div>
            <div class="table-data">
              {{ user.lastName }}
            </div>
            <div class="table-data">{{ user.username }}</div>
            <div class="table-data">{{ user.email }}</div>
          </div>
          } @empty {
          <div class="no-found-message">
            <h3>No users found!</h3>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
