<section class="client-membership-page">
  <div class="membership-heading-container">
    <h2>All users</h2>
  </div>
  <div class="memberships-container">
    <div class="container">
      <div class="filter-memberships-container">
        <div class="search-form">
          <div class="search-wrapper">
            <i class="fas fa-search search-icon"></i>
            <input
              type="text"
              class="search-input"
              placeholder="Search users..."
              [(ngModel)]="searchValue"
            />
          </div>
        </div>
        <div>
          <app-button text="Add user" (btnClick)="onAddUser()" />
        </div>
      </div>

      <div class="table">
        <div class="table-header">
          <div class="header__item">
            <a id="wins" class="filter__link filter__link--number">Full name</a>
          </div>
          <div class="header__item">
            <a id="losses" class="filter__link filter__link--number"
              >Username</a
            >
          </div>
          <div class="header__item">
            <a id="total" class="filter__link filter__link--number">Email</a>
          </div>
          <div class="header__item">
            <a id="total" class="filter__link filter__link--number">Role</a>
          </div>
          <div class="header__item">
            <a id="draws" class="filter__link filter__link--number"
              >Edit/Delete</a
            >
          </div>
        </div>
        <div class="table-content">
          <p-scroller
            [items]="users() | search : searchValue()"
            [itemSize]="50"
            scrollHeight="300px"
            orientation="vertical"
            styleClass="border-1 surface-border"
            [style]="{ width: '1200px', height: '300px' }"
          >
            <ng-template
              pTemplate="items"
              let-user
              ;
              track
              $index
              let-options="options"
            >
              <div class="table-row">
                <div class="table-data" (click)="onUserRowClick(user.id)">
                  {{ user.firstName }} {{ user.lastName }}
                </div>
                <div class="table-data" (click)="onUserRowClick(user.id)">
                  {{ user.username }}
                </div>
                <div class="table-data" (click)="onUserRowClick(user.id)">
                  {{ user.email }}
                </div>
                <div class="table-data" (click)="onUserRowClick(user.id)">
                  {{ user.role }}
                </div>
                <div class="table-data">
                  <button class="edit-button" (click)="onUserEdit(user.id)">
                    <i class="fa-regular fa-pen-to-square"></i>
                  </button>
                  <button class="delete-button" (click)="onUserDelete(user.id)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </div>
            </ng-template>
          </p-scroller>
        </div>
      </div>
    </div>
  </div>
</section>
