:root {
  --black-color: #160702;
  --red-color: #941b0c;
  --white-color: #ffffff;
  --brown-color: #370617;
  --orange-color: #bc3908;
  --yellow-color: #f6aa1c;
  --dark-red-color: #621708;
  --light-red-color: #d00000;
  --font-color: #fff;
}
