<div class="home-container">
  <div class="text-container">
    <div class="heading-text-container">
      <h2>Unlock Your Fitness Superpowers</h2>
    </div>
    <div>
      <p>
        We believe fitness is a lifestyle, not a destination. Whether you're
        just starting out or pushing toward your next goal, we're here to
        support you every step of the way. Our cutting-edge equipment, expert
        trainers, and diverse range of classes are all designed with one thing
        in mind: your success.
      </p>
      <p>
        <strong>Are you ready to transform your body and mind?</strong> Let's
        get started today!
      </p>
    </div>
    <div class="buttons-text-container">
      <app-button text="Explore our plans"></app-button>
    </div>
  </div>
  <div class="image-container"></div>
</div>
