<section class="user-panel-page">
  <div class="user-panel-container">
    <div class="user-container-left">
      <div class="image-container">
        <img
          src="/images/placeholder-image.jpg && {{
            currentUser().userDetails?.profilePhoto
          }}"
          alt=""
        />
      </div>
      <div class="user-information">
        <div>
          <h2>{{ currentUser().firstName }} {{ currentUser().lastName }}</h2>
        </div>
        <div class="button-image-container">
          <app-button text="UPLOAD" [style]="{ width: '100px' }" />
          <app-button text="SAVE" [style]="{ width: '100px' }" />
        </div>
      </div>
    </div>
    <div class="user-container-right">
      <div class="heading-div-container">
        <div>
          <h2>User informations</h2>
        </div>
        <div>
          <a><i class="fa-solid fa-gear"></i></a>
        </div>
      </div>
      <div class="user-informations-div-container"></div>
    </div>
  </div>
</section>
