.client-membership-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 100px;

  .membership-heading-container {
    h2 {
      font-size: 32px;
      text-align: center;
      color: var(--orange-color);
    }
  }

  $base-spacing-unit: 24px;
  $half-spacing-unit: 12px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 100px;
    background-color: var(--yellow-color);
  }

  .table {
    width: 100%;
    border: 1px solid var(--font-color);
  }

  .table-header {
    display: flex;
    width: 100%;
    background: var(--orange-color);
    padding: 20px 0;
  }

  .table-row {
    display: flex;
    width: 100%;
    padding: ($half-spacing-unit * 1.5) 0;
    background: var(--white-color);
  }

  .table-data,
  .header__item {
    flex: 1 1 20%;
    text-align: center;
  }

  .header__item {
    text-transform: uppercase;
  }

  .filter__link {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-left: $base-spacing-unit;
    padding-right: $base-spacing-unit;
  }
}
