.plans-page {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  .plans-heading {
    width: 100%;

    h2 {
      text-align: center;
      font-size: 34px;
      color: var(--orange-color);
    }
  }

  .plans-container {
    display: flex;
    gap: 30px;
  }
}
